*{
  color: white;
}

Body{
  background-color: rgb(51, 48, 48);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  display: flex;
  flex-direction: row;
}

.GradientC-show {
  width: 600px;
  height: 200px;
  background: linear-gradient(to left, red,green);
  margin-top: 0px;
  margin: 50px;
  border-radius: 7px;
}

.GradientC-detail {
  width: 600px;
  height: 200px;
  background: blue;
  margin: 50px;
  border-radius: 7px;
}

.Header-container{
  margin-top: 5px;
}

button{
  background-color: rgba(45, 45, 66, 0.5);
  cursor: pointer;
  border-radius: 7px;
  margin: 5px;
}



